form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;

    label {
        input,
        select {
            margin-top: 1rem;
        }
    }

    .demo-wrapper.rdw-editor-wrapper {
        grid-column: 1 / -1;

        .rdw-editor-toolbar {
            padding: 1rem;
            border-radius: 50px;
            box-shadow: $box-shadow;
            margin-bottom: 2rem;

            div {
                border-radius: 50px;
                background-color: $background-color;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-bottom: 6px;

                a {
                    background-color: $background-color;
                    border: none;

                    img {
                        width: 100%;
                    }
                }

                .rdw-dropdown-optionwrapper {
                    overflow: auto;
                }

                &:hover {
                    box-shadow: $box-shadow;
                }
            }

            .rdw-image-modal {
                border-radius: 50px;
                position: absolute;

                input {
                    border-radius: 50px;
                }

                .rdw-image-modal-header {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                    span {
                        span {
                            background-color: $secondary-color;
                            border-color: $secondary-color;

                            &.rdw-image-modal-header-label-highlighted {
                                background-color: $primary-color;
                                border-color: $primary-color;
                            }
                        }
                    }
                }

                .rdw-image-modal-btn-section {
                    button {
                        border-radius: 50px;
                        padding: 0;
                        background-color: $background-color;
                        box-shadow: $box-shadow;
                    }
                }
            }
        }

        .DraftEditor-root {
            .DraftEditor-editorContainer {
                .public-DraftEditor-content {
                    div {
                        div {
                            div {
                                padding: 1.5rem;
                                border-radius: 50px;
                                box-shadow: $box-shadow-inset;
                                margin: 0;
                                min-height: 10vh;
                            }
                        }
                    }
                }
            }
        }
    }

    .rdw-editor-toolbar {
        background-color: $background-color;
        border: none;

        div {
            div {
                background-color: $background-color;
                border: none;
            }
        }
    }

    // .filepicker.dropzone.dz-clickable {
    //     grid-column: 1 / -1;
    // }

    .dropzone {
        grid-column: 1 / -1;
        background-color: $background-color;
        border-color: $secondary-color;

        .dz-preview {
            border-radius: 20px;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: center;

            img {
                width: 100%;
                height: 120px;
            }
        }

        .dz-remove,
        .remove {
            color: $error-color;
            // color: $light-shadow;
            background-color: $background-color;
            border-radius: 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 100%;
            cursor: pointer;
            margin-bottom: 0;
        }

        .remove {
            border: none;
            height: 100%;
            // padding: 0.3rem 0;
            font-size: 14px;
            font-family: 'Poppins', Arial, 'Helvetica Neue', Helvetica,
                sans-serif;
        }

        .filepicker-file-icon {
            &::before {
                background-color: $background-color;
                border-color: $secondary-color;
            }

            &::after {
                background-color: $secondary-color;
                color: $text-color;
            }
        }
    }

    button {
        padding: 1.5rem;
        grid-column: 1 / -1;
    }
}
