button {
    background-color: $background-color;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    color: $primary-color;

    a {
        font-weight: bold;
        font-size: 1.5rem;
        color: $primary-color;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: inline-block;
    }

    &:hover {
        border: 1px solid rgba($color: $light-shadow, $alpha: 0.3);
    }

    &:active {
        box-shadow: inset 9px 9px 16px rgba($color: $dark-shadow, $alpha: 0.25),
            inset -9px -9px 16px rgba($color: $light-shadow, $alpha: 0.4);
    }
}
