.login {
    padding: 2rem;
    width: 60vw;
    // min-height: 88vh;
    margin: 20vh auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: $background-color;
    box-shadow: $box-shadow;

    &-title {
        color: $primary-color;
        text-align: center;
        border-radius: 50px;
        padding: 1rem 0;
        width: 50%;
        box-shadow: $box-shadow;
        margin-bottom: 2rem;
    }

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        button {
            margin-top: 1.5rem;
            width: 40%;
            padding: 1rem 0;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}
