.blog {
    margin-top: 2.5rem;
    padding: 2rem;
    border-radius: 50px;
    background-color: $background-color;
    box-shadow: $box-shadow;
    position: relative;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // column-gap: 3rem;
    // row-gap: 2.5rem;
    // border: 1px solid transparent;

    &__button {
        background-color: $background-color;
        font-size: 2rem;
        position: fixed;
        padding: 0.8rem;
        z-index: 10;
        bottom: 2%;
        right: 2%;
        border: 1px solid transparent;
        transition: all 0.3s;

        &:hover {
            border-color: rgba($color: $light-shadow, $alpha: 0.4);
        }
    }

    &:hover {
        border-color: rgba($color: $light-shadow, $alpha: 0.4);
    }

    .infinite-scroll-component__outerdiv {
        .infinite-scroll-component {
            overflow: unset;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            column-gap: 3rem;
            row-gap: 2.5rem;
            border: 1px solid transparent;
        }
    }
}
