.home {
    main {
        min-height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // padding: 50px;
            // align-items: center;

            &__title {
                font-size: 6vh;
                color: $secondary-color;
                margin-bottom: 0.5rem;

                span {
                    color: $primary-color;
                }
            }

            &__skills {
                font-size: 1rem;
                color: $secondary-color;
                text-transform: capitalize;
                margin-bottom: 2rem;
            }

            &__contact-button {
                width: 50%;
            }
        }

        .image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 70%;
                margin: auto;
            }
        }

        svg {
            height: 6vh;
            position: absolute;
            bottom: 3vh;
            left: 50%;
            transform: translateX(-50%);

            #circle--shape {
                animation: animateShape 1.6s ease-in-out infinite;
            }
        }
    }
}

@keyframes animateShape {
    0% {
        cy: 25%;
        opacity: 1;
    }
    50% {
        cy: 70%;
        opacity: 0.8;
    }
    100% {
        cy: 25%;
        opacity: 1;
    }
}
